#@ load("@ytt:data", "data")

apiVersion: kbld.k14s.io/v1alpha1
kind: Config
sources:
- image: simple-app
  path: ./0
  kubectlBuildKit: {}

#@ if/end data.values.push_images_repo:
---
apiVersion: kbld.k14s.io/v1alpha1
kind: Config
destinations:
- image: simple-app
  newImage: #@ data.values.push_images_repo

